
<div class="landing_page_form ml-10">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.coursesu.com/on/demandware.static/-/Sites-DigitalU-Library/default/dwc2551675/images/PagesEditoriales/lacourgette/D_PageEdito_Cover_1920x474_Courgettes.jpg);">
    <div class="container text-center">
    <!-- <div class="container"> -->
      <h1 class="text-center"> &#129362; Welcome to the wonderful world of zucchini rental !! &#129362;</h1>
      <p class="text-center"> The sky, my zucchini, it's big to remind us that we're not much underneath.
 "</p>
   <!--  </div> -->
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <% @courgettes.each do |courgette| %>
      <div class="col-4">
        <%= link_to courgette_path(courgette), :action => 'go' do %>
        <div class="card-trip">
          <%= cl_image_tag courgette.photo.key, crop: :fill %>
          <div class="card-trip-infos">
            <div>
              <h2><%= courgette.name %></h2>
              <p><%= courgette.description.truncate_words(4) %></p>
            </div>
            <h2 class="card-trip-pricing"><%= courgette.price %>€/day</h2>
            <%= cl_image_tag courgette.user.photo.key, crop: :thumb, gravity: :face, class: "card-trip-user avatar-bordered avatar-image" %>
          </div>
        </div>
        <br><br>
      </div>
    <%end %>
    <% end %>
  </div>
<!--   <div class="container d-flex justify-content-center">
  <%= link_to "See more!", courgettes_path, class: "btn btn-success btn-block" %>
  </div>
</div> -->

  </div>
  <div class=" see more btn container d-flex justify-content-center">
     <section class="portfolio-experiment">
  <!--   <%= link_to "See more!", courgettes_path %> -->
  <a>
    <span class="text">See more!</span>
    <span class="line -right"></span>
    <span class="line -top"></span>
    <span class="line -left"></span>
    <span class="line -bottom"></span>
  </a>
</section>
  </div>

  </div>
</div>
  <div class="container">
    <!-- <div class="row mt">
      <div class="col-lg-4 col-lg-offset-4 centered"> -->
        <h3 class="text-center"> Testimonials </h3>
        <hr>
  </div>
<!--       </div>
    </div> -->
    <div class="container d-flex justify-content-center">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <div class="carousel slide" data-ride="carousel" data-interval="5000">
          <div class="carousel-inner">
            <div class="carousel-item active item">
              <h2> The power of zucchini is unbelievable, I have gained confidence and just landed my first dev contract, thank's Macka B. !! </h2>
              <h5> Javier de Cuba </h5>
            </div>
            <div class="carousel-item item">
              <h2> I never imagined I'd have such a choice of zucchini. Now anything is possible !!</h2>
              <h5> Jean-Jean des Bois </h5>
            </div>
            <div class="carousel-item item">
              <h2>I dedicate my life to zucchini. Offering you the best is a real driving force for me.</h2>
              <h5> Rodrigo " Courgette Land" </h5>
            </div>
            </div>
          </div>
        </div>
<!--       </div>
    </div> -->
</div>


<div class="video flex-box, text-center">
  <h3 class="text-center"> &#129362; A few words from our guru, Yes Iyah !!  &#129362;</h3>
<iframe width="762" height="385" src="https://www.youtube.com/embed/wxLyFO_bC3Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
