<br><br>
<div class="container" style="text-align: center;">
  <h3>&#129362; Discover our <%= Courgette.count %> amazing courgettes listed so far &#129362;</h3>
  <p> It keeps growing every day &#128512;!</p>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-10">
      <%= form_tag courgettes_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a courgette by courgette name"
      %>
    </div>
    <div class="col-2">
     <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
<br>

<div class="content">

  <div class="main-container">
    <div class="cards">
      <% @courgettes.each do |courgette| %>
        <%= link_to courgette_path(courgette), class: "index-link", :action => 'go' do %>
          <div class="card-trip">
            <%= cl_image_tag courgette.photo.key, crop: :fill %>
            <div class="card-trip-infos">
              <div>
                <h2><%= courgette.name %></h2>
                <p><%= courgette.description.truncate_words(4) %></p>
              </div>
              <h2 class="card-trip-pricing"><%= courgette.price %>€/day</h2>
              <%= cl_image_tag courgette.user.photo.key, crop: :thumb, gravity: :face, class: "card-trip-user avatar-bordered avatar-image"%>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
      <div id="map"
         style="width: 100%; height: 600px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

  </div>
</div>

