

 <div class="banner banner-show pl-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @courgette.photo.key %>')">
    <h1><%= @courgette.name %></h1>
    <h2>A good choice for sure, and for only <%=  @courgette.price%>€ a day! </h2>
 </div>

<div class="container">

  <div class="card text-center my-3 py-2">
    <h4>When our users think of <span style="color:#1EDD88;"><%=@courgette.name%></span>, they think about</h4>
    <h5><%= @courgette.description %></h5>
  </div>

   <div class="card-product justify-content-center">
          <%= cl_image_tag @courgette.user.photo.key, crop: :fill, class: "ml-2"%>

          <!-- <img class="ml-2" src="https://kitt.lewagon.com/placeholder/users/krokrob" /> -->
          <div class="card-product-infos ml-5">
            <h5><span style="color:#1EDD88;"><%= @courgette.user.first_name + " " + @courgette.user.last_name %> </span> ( <strong> <%= @courgette.user.username %> </strong>) rents this courgette</h5>
            <h5>Pick it up at <%= @courgette.user.address%></h5>

          </div>
    </div>



</div>



<div class="container">


    <div class="row mx-2">

    <div class="col-12 card border my-3 p-4">
      <h2 class="text-center my-3">Book <%= @courgette.name %> for only <%= @courgette.price %>€ a day!</h2>


      <div class="d-flex justify-content-center">
           <div class=" card p-5 col-5">
             <p>Please select your dates:</p>

                  <%= simple_form_for [@courgette, @new_booking] do |t| %>

                  <%= t.input :start_date, as: :string, input_html: { id: "start_date" , placeholder: "The start of the adventure... "} %>
                  <%= t.input :end_date,as: :string, input_html: { id: "end_date", placeholder: "...and the end 😞"} %>
                  <div class="text-center">
                  <%= t.submit "Book this courgette!", class: "btn btn-outline-success btn-block mt-4" %>
                  </div>

                  <% end %>
          </div>

          <div class="col-1"></div>

          <div class="card p-5 col-5 d-flex  flex-column justify-content-around">


                <div class="d-flex justify-content-between">
                    <h4>Number of days:</h4>
                    <h4 id="number-of-days">0</h4>
                </div>

                <div class="d-flex justify-content-between">
                    <h4>Price per day:</h4>
                    <h4 id="price-per-day"><%= @courgette.price %> €</h4>
                </div>

                 <div class="d-flex justify-content-between mt-1 pt-4 border-top border-success">
                    <h4><strong>Total price</strong></h4>
                    <strong><h4 id="total-price">0 €</h4></strong>
                </div>


        </div>
      </div>
    </div>
</div>

    <%= link_to "Back to the list", courgettes_path, class: "btn btn-success mx-2 my-4 btn-block" %>



      <h3>Reviews</h3>
      <% if @courgette.reviews.empty? %>
        <p>No reviews yet on this courgette!</p>
      <% else %>
        <% @courgette.reviews.each do |review| %>
          <div style="background-color: white">
            <p>Author: <%= review.author %></p>
            <p>Rating: <%= review.rating %></p>
            <p>Comment: <%= review.content %></p>
          </div>

        <%end %>
      <%end %>
      <%= simple_form_for([ @courgette, @review ], remote: true) do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content %>
        <%= f.submit "Submit review", class: "btn btn-primary" %>
      <% end %>

</div>






