<br>

<div class="container">
  <%= link_to "< back to listing", courgettes_path %>
    <h2 style="text-align: center;"><%= @courgette.name %></h2>
  <div class="row">
    <div class="col-6">
      <br><br>
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>

    <div class="col-6">
      <br> <br>
      <div class="card">
        <h5 class="card-header">Description and price</h5>
        <div class="card-body">
          <h5 class="card-title"><%= @courgette.description %></h5>
          <p class="card-text"><%= @courgette.user.address%>, <%= @courgette.user.city_postcode%>, <%= @courgette.user.city_name %> </p>
          <p class="card-text">Only <%= @courgette.price %>€/day</p>
        </div>
      </div>
      <br>
        <div class="card-product">
          <img class="ml-2" src="https://kitt.lewagon.com/placeholder/users/krokrob" />
          <div class="card-product-infos">
            <h2><%= @courgette.user.first_name + " " + @courgette.user.last_name + " (" + @courgette.user.username  + ")"  %></h2>
            <p><%= @courgette.user.phone_number %></p>
            <p><%= @courgette.user.email %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

    <div class="col-12 card border m-4 p-4">
      <h2 class="text-center my-3">Book <%= @courgette.name %> for only <%= @courgette.price %>€ a day!</h2>


      <div class="d-flex justify-content-center">
           <div class=" card p-5 col-5">
             <p>Please select your dates:</p>

                  <%= simple_form_for [@courgette, @new_booking] do |t| %>

                  <%= t.input :start_date, as: :string, input_html: {class: "datepicker"} %>
                  <%= t.input :end_date,as: :string, input_html: {class: "datepicker"} %>
                  <div class="text-center">
                  <%= t.submit "Book this courgette!", class: "btn btn-outline-success btn-block mt-4" %>
                  </div>

                  <% end %>
          </div>

          <div class="col-1"></div>

          <div class="card p-5 col-5">

          </div>


      </div>






    </div>

</div>



   <br><br><br>
</div>



